<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}


    <div class="container">
        {% if messages %}
            <div class="text-center text-success">
                <strong>消息提示:</strong>
                <ul style="list-style-type: none">
                    {% for message in messages %}
                        <li >{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div>
            <ul class="nav nav-pills justify-content-center ">
                {% if user.is_authenticated %}
                    <li class="nav-item "><a class="nav-link" href="{% url 'account_email' %}">更改邮箱</a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'account_logout' %}">退出登录</a></li>
                {% else %}
                    <li class="nav-item "><a class="nav-link" href="{% url 'account_login' %}">登录</a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'account_signup' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row">
            <div class="panel panel-primary col-4 m-auto ">
                <div class="panel-body border rounded p-5">

                    {% block content %}

                    {% endblock %}


                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
</html>
