{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="primaryAction btn btn-primary btn-sm btn-block " type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction text-right"
              href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    <br>
    <p class="text-center">第三方登录</p>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="socialaccount_ballot">

                {% include "socialaccount/snippets/provider_list.html" with process="login" %}

        </div>
    {% endif %}

{% endblock %}
